
/* font-family: 'Barlow Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

nav {
    background-color: #ffffff;
}

a img {
    width: auto;
    height: 100px;
}

#section-one .jumbotron {
    background-color: #cf1b1bc0;
}