
/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Calligraffitti', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Calligraffitti&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

nav {
    background-color: #ffcc00;
}


.navbar-brand {
    font-family:'Calligraffitti', cursive;
    font-weight: bold;
    transition: 0.4s;
    font-size: 30px;
    transform: rotate(-8deg);

}

.navbar-brand:hover {
    transition: 0.4s;
    transform: rotate(0deg);
}


#navbarNav li a {
    font-weight: 500;
    margin-left: 1em;
    font-size: large;
    transition: 0.3s;
}

#navbarNav li a:focus {
    outline: none;
}

#navbarNav li a:hover {
    transition: 0.3s;
    transform: translate(3px, 3px);
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler:active {
    background-color:rgba(251, 255, 0, 0.5);
}


#sep-line-one {
    height: .7em;
    background-color: #ffcc00f0;
}

#sep-line-two {
    height: .7em;
    background-color: rgba(0, 0, 0, 0.9);
}

#showcase {
    background: url("mfccroppedbndw.jpg") bottom center/cover no-repeat;
    min-height: 60vh;
    background-position: center;
    position: relative; 
    z-index: 2;
}

#showcase #overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

#showcase .jumbotron {
    background-color: transparent;
    color: #ffcc00f0;
    min-height: 60vh;
    position: relative;
}

#showcase .container {
    position: relative;
    top: 3rem;
}

#showcase h3 span {
    font-family: 'Calligraffitti', cursive;
}

#showcase p span {
    font-family: 'Calligraffitti', cursive;
    font-weight: 600;
    font-style: italic;
}

#section-one div {
    /* border: 1px solid black; */
}

p i {
    background: #ffcc00;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-github{
    font-size: 23px;
    padding: 7px;
}


#about-me-three a {
    color: #000000;
    font-size: 1.1em;
    transition: 0.3s;
}

#about-me-three a:active {
    color: #000000;
    font-size: 1em;
} 
#about-me-three a:focus {
    color: #ffcc00f0;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); /* offset-x | offset-y | blur-radius | color */
} 
#about-me-three a:hover {
    color: #ffcc00f0;
    text-decoration: none;
    transition: 0.1s;
} 

#about-me-three p:nth-of-type(2n) {
    margin-left: 2em;
}

#download-cv {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    margin-left: 4em;
    border-radius: 30px;
    border: 2px solid #202020;
}


#about-me-one {
    display: flex;
    align-self: flex-end;
    line-height: 1em;
    background-color: #ffffff;
    height: 30vh;
    font-size: 2.5em;
    font-weight: 600;
}

#about-me-one span {
    color: #ffcc00;
}


#about-me-two {
}

#signature {
    font-family:'Calligraffitti', cursive;
    font-weight: 700;
    text-align: end;
}

footer {
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 1vh;
}