
/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Calligraffitti', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Calligraffitti&display=swap');

* { margin: 0; padding: 0; }

body {
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    position:relative;
    margin: 0;
}

nav.navbar.nav-active {
    opacity: 0.9;
    transition: 0.3s;
}

nav.navbar {
    background-color: #ffcc00;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 4;
    opacity: 0.8;
    transition: 0.3s;
}


.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}

.navbar-brand {
    font-family:'Calligraffitti', cursive;
    font-weight: bold;
    transition: 0.4s;
    font-size: 30px;
    transform: rotate(-8deg);
}

.navbar-brand:hover {
    transition: 0.4s;
    transform: rotate(0deg);
}


#navbarNav li a {
    font-weight: 500;
    margin-left: 1em;
    font-size: large;
    transition: 0.3s;
}

#navbarNav li a:focus {
    outline: none;
}

#navbarNav li a:hover {
    transition: 0.3s;
    transform: translate(3px, 3px);
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler:active {
    background-color:rgba(251, 255, 0, 0.5);
}


#sep-line-one {
    height: .7em;
    background-color: #ffcc00f0;
    margin-bottom: 1em;
}

#sep-line-two {
    height: .7em;
    background-color: rgba(0, 0, 0, 0.9);
}

#showcase {
    background: url("mfccroppedbndw.jpg") bottom center/cover no-repeat;
    min-height: 60vh;
    background-position: center;
    position: relative; 
    z-index: 2;
}

#showcase #overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

#showcase .jumbotron {
    background-color: transparent;
    color: #ffcc00f0;
    min-height: 60vh;
    position: relative;
}

#showcase .container {
    position: relative;
    top: 3rem;
}

#showcase h3 span {
    font-family: 'Calligraffitti', cursive;
}

#showcase p span {
    font-family: 'Calligraffitti', cursive;
    font-weight: 600;
    font-style: italic;
}

#section-two h5 {
    font-weight: 400;
}

#section-two h5 span {
    font-weight: 400;
}

#section-two h2 {
    display: flex;
    justify-content: center;
    font-family: 'Calligraffitti', cursive;
}

p i {
    background: #ffcc00;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.6);
}

.fa-times-circle {
    background: #ffcc00;
    font-size: 1em;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.6);
}

.fa-github{
    font-size: 23px;
    padding: 7px;
}

#about-me-three p {
    margin-left: 2em;
}
#about-me-three a {
    color: #000000;
    font-size: 1.1em;
    transition: 0.3s;
}

#about-me-three a:active {
    color: #000000;
    font-size: 1em;
} 
#about-me-three a:focus {
    color: #ffcc00f0;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); /* offset-x | offset-y | blur-radius | color */
} 
#about-me-three a:hover {
    color: #ffcc00f0;
    text-decoration: none;
    transition: 0.1s;
} 

#section-three a {
    color: #f0f0f0;
    transition: 0.3s;
}

#section-three a:active {
    color: #fff;
    font-size: 1em;
} 
#section-three a:focus {
    color: #ffcc00f0;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); /* offset-x | offset-y | blur-radius | color */
} 
#section-three a:hover {
    color: #ffcc00f0;
    text-decoration: none;
    transition: 0.3s;
} 

#download-cv {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    margin-left: 6em;
    border-radius: 30px;
    border: 2px solid #202020;
}

#download-cv:hover, #download-cv:focus {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #ffcc00;
}


#about-me-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    line-height: 1em;
    background-color: #ffffff;
    height: auto;
    font-size: 2.5em;
    font-weight: 600;
}

#about-me-one span {
    color: #ffcc00;
}

#about-me-one p {
    text-shadow: 3px 3px 8px #d0d0d0; /* offset-x | offset-y | blur-radius | color */
}

#signature {
    font-family:'Calligraffitti', cursive;
    font-weight: 700;
}

#about-me-two p {
    text-align: justify;
}

#about-me-two p:last-of-type {
    text-align: end;
}

/* #about-me-three {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#section-two {
    background-color: #ffcc00e0;
}


#section-two>div {
    justify-content: space-evenly;
    padding: 2em;
}

.card {
    display: flex;
    align-items: center;
    background-color: #101010;
    border-radius: 10px;
    color: #ffcc00;
    margin-left: 0.5em; 
    margin-right: 0.5em;
    margin: 1em 0.5em 1em 0.5em;
    width: 22rem;
}

.card button {
    background-color: #ffcc00ff;
    font-size: 1.3em;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px; 
    outline: #ffcc00;
    border: 2px solid #fc0;
    transition: 0.3s;
}

.card button:hover {
    background-color: #fffffffd;
    box-sizing: border-box;
}

.card button:focus, .card a:focus {
    outline: #ffcc00;
    outline-width: 1px;
}

.card button:active {
    background-color: #fffffffd;
    font-size: 1.25em;
    box-sizing: border-box;
}

.card-img-top {
    width: 21rem;
    height: auto;
    margin-top: 0.5em;
    border-radius: 11px;
}

.card-title {
    font-family: 'Calligraffitti', cursive;
}

.card-text {
    color: #ffffff;
}

#section-two .card-body:nth-of-type(1n) p em {
    color: #ffcc00;
} 

#section-two .card-body p span {
    color: #ffcc00;
} 

#section-three {
    background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 6em,
    #333 6em,
    #333 12em
    );
    border-bottom: 2px solid #ffcc00;
}

#section-three h5 {
    color: #f0f0f0;
    font-weight: 400;
}

#section-three h5 span {
    color: #ffcc00e0;
    font-weight: 400;
}

#section-three span i {
    background: #101010;
    font-size: 1em;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: -1px 1px 6px 1px #fc0;
}

#section-three div.row div.col-1 {
    margin-right: 16px;
} 

#section-three i {
    color: #ffcc00;
    padding-left: 2em;
    padding-right: 2em;
}

#section-three p {
    color: #ffffff
}

#section-four {
    background: linear-gradient(
    -45deg,
    #222 40vw,
    #ffcc00c8 10vw
    );
    border-bottom: 3px solid #fc0;
}

#section-four {
    color: #f0f0f0;
}

#section-four h3, #section-three h3 {
    font-family: 'Calligraffitti', cursive;
    color: #ffcc00;
}

#section-four img {
    box-sizing: border-box;
    max-height: 400px;
    margin:auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
    cursor: pointer;
    transition: 0.2s ease;
}

#section-four .row img:hover {
    /* background-color: #fc0; */
    opacity: 0.9;
    transition: 0.2s ease;
    transform: scale(1.1);
} 

#section-four .carousel-inner img {
    display: block;
    max-width: 100%;
    max-height: auto;
    margin-left:auto;
    margin-right:auto;
}

#section-four p span {
    color: #ffcc00;
}

.modal-header, .modal-body, .modal-footer {
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-header button.close {
    padding: 10px 5px 5px 5px;
}

.modal-header {
    border-bottom: 2px solid #fc0;
}

.modal-title {
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
    color: #ffcc00;
}

.modal-title span {
    font-family: 'Calligraffitti', cursive;
    font-weight: 400;
    color: #ffcc00;
}

.modal-footer {
    border-top: 2px solid #fc0;
}

#section-five {
    background-color: rgba(0, 0, 0, 0.9);
}

#section-five {
    color: #f0f0f0;
}

#section-five h3, #section-three h3 {
    font-family: 'Calligraffitti', cursive;
    color: #ffcc00;
}

#section-five img {
    max-height: 400px;
    margin:auto;
    margin-top: 5px;
    margin-bottom:5px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 2px rgba(255, 255, 255, 0.1);
}
#section-five p span {
    color: #ffcc00;
}


main { 
    position: relative;
    justify-content: center;
    padding-bottom: 10vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.9);
    border-top: 2px solid #ffcc00;
    position: absolute;
    bottom: 0;
}

.fa-tools, .fa-hard-hat{
    color: #ffcc00;
    font-size: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

footer p:nth-of-type(1n) {
    text-align:center;
    font-size: 1em;
    color: #ffcc00f0;
    margin: 0;
    /* line-height: 0.9em; */
}

footer p:nth-of-type(2n) {
    display: none;
}

@media (max-width:1199px) {
    #section-four h3 {
        color: black;
        font-weight: bold;
    }
    #section-four blockquote, .blockquote-footer  {
        color: black;
    }

    #section-four p span {
        color: #808080;
    }
    #section-four .modal-title {
        font-family: 'Calligraffitti', cursive;
        color: #ffcc00;
    }
    #section-four {
        background: linear-gradient(
        -45deg,
        #222 50vw,
        #ffcc00c8 10vw
        );
    }
}

@media (max-width:987px) {
    #section-four {
        background: linear-gradient(
        -45deg,
        #222 95vw,
        #ffcc00c8 10vw
        );
    }
}

@media (max-width:732px) { 
    #section-five img { 
        max-height: 200px;
        margin:auto;
        border-radius: 10px;
    }
}
@media (max-width:850px) {
    #section-three span i {
    line-height: 1.5;
    color: #ffcc00;
    font-size: 1em;
    padding-right: 0.7em;
    background: none;
    padding: 0;
    border-radius: 50%;
    margin-right: 0;
    box-shadow: none;
    }
    #section-three div.row div.col-1 {
        margin-right: 0;
    }
}


@media (max-width:768px) {
    #about-me-one, #about-me-one p {
        display: flex;
        justify-content: center;
        height: auto;
    }
    .fa-tools, .fa-hard-hat {
        color: #ffcc00;
        font-size: 1em;
        padding-right: 0.7em;
    }

    footer p:nth-of-type(1n) {
        display: none;
    }

    footer p:nth-of-type(2n) {
        display: inline-block;
        text-align:center;
        font-size: 1em;
        color: #ffcc00f0;
        margin: 0;
        line-height: 0.9em;
    }
}

@media (min-width: 576px) {
    .col-sm-4 {
    max-width: 33.333333%;
    padding-right: 26px;
    }
}

@media (max-width:406px) {
    .card-img-top {
        max-width: 20rem;
        height: auto;
        margin-top: 0.5em;
        border-radius: 11px;
    }

    #section-five img {
        max-height: 140px;
        margin:auto;
        border-radius: 10px;
    }

    footer p {
        display:none;
    }
}

@media (max-width:320px) {
    .card-img-top {
        max-width: 13rem;
        height: auto;
        margin-top: 0.5em;
        border-radius: 11px;
    }
}
